name: CI/CD for ASP.NET Web API (.NET Framework)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1

    - name: Restore NuGet packages
      run: nuget restore Завдання_1.sln

    - name: Build with MSBuild
      run: msbuild Завдання_1.sln /p:Configuration=Release

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: BuildOutput
        path: |
          **/bin/Release/
